.site-title img {
  width: 200px;
  padding: 10px 0;
}
.site-nav {
  line-height: 80px;
}
table {
  width: 100%;
}
table th {
  text-align: left;
  font-weight: bold;
}
strong {
  font-weight: bold;
}
h4 {
  margin-top: 2em;
  font-weight: bold;
}